
.jumbotron {
  h1{
    text-align: center;
  }
}

img {
  width: 300px;
  height: auto;
}

#threebars {
  width: 25px;
  margin-top: 15px;
}

#brand {
  text-align: center;
}

.navbar-header {
  float: left;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float:none;
  margin-right: 80px;
  padding-top: 80px;
  font-size: 30px;
}
